main{
    background: linear-gradient(to bottom,rgba(0,0,0,.52),rgba(0,0,0,.73)),
    url(/img/home.jpg)  center center/cover;
    position: relative;
    .container{
        width: 100%;
        height: 100vh;
        @include flex(space-between);
        .text{
            p.p1{
                color: $primary;
            }
            h1{
                color: rgba(255, 255, 255, 0.87);
                line-height: 1.5;
                text-transform: uppercase;
                margin-bottom: 20px;
                font-weight: 700;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            }
            p{
            color:$lightWhite;
            line-height: 1.6;
            }
            .btn{
                margin-top: 20px;
                color: white;
                background: #32c557;
            }
        }
        img{
            height: 250px;
        }
    }
    .wave{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

@media(max-width:776px){
    main .container{
    img{
        display: none;
    }
    }
}